.nav-tab {
    display: -webkit-box;
    display: -moz-box;
    text-align: center;
    margin: 40px 0 20px;
}

@media screen and (min-width: 1084px) {
    .nav-tab {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
    .nav-tab-item {
        flex: 1;
        flex-grow: 1;
    }
}

a.nav-tab-link {
    display: block;
    background: #E6E6E6;
    padding: 20px 30px;
    margin: 0 5px;
    position: relative;
}
a.nav-tab-link:before {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    bottom: -10px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: transparent;
    background: transparent;
    display: block;
    width: 0;
    -ms-transform: rotate(45deg);
    /* IE 9 */

    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */

    transform: rotate(45deg);
}
a.nav-tab-link:hover, 
a.nav-tab-link:hover:before {
    background: #D2D2D2;
    border-color: transparent #D2D2D2;
}


/* ignore me */
body {
    padding: 50px;
}